<% approval_request = @approval_request %>
<div class="p-4 border rounded-md flex flex-col space-y-2 bg-gray-50 shadow relative">
    <% if current_user == approval_request.requester %>
        <div class="absolute right-4 top-4 flex items-center space-x-2">
            <%= link_to "Edit", edit_organization_approval_request_path(@organization, approval_request), class: "btn-primary" %>
            <%= button_to "Delete", organization_approval_request_path(@organization, approval_request), method: :delete, class: "btn-primary bg-red-500" %>
        </div>
    <% end %>
    <p>Title: <%= approval_request.title %></p>
    <p><%= approval_request.description %></p>
    <p>Status: <span class="rounded-md p-1 text-sm font-medium text-gray-50 <%= approval_request.request_status %>"><%= approval_request.request_status %></span></p>
    
    <% if approval_request.requester == current_user %>
        <div class="flex space-x-2 items-center flex-wrap">
            <p>Approvers</p>
            <% approval_request.approvers.each do |approver| %>
                <div class="px-2 py-1 flex items-center space-x-1 border rounded-full self-start shadow cursor-pointer bg-gray-100 text-gray-700">
                    <% if approver&.profile&.image.attached? %>
                        <%= image_tag url_for(approver&.profile.image), class: "w-4 h-4 rounded-full border" %>
                    <% else %>
                        <span class="uppercase w-4 h-4 rounded-full flex items-center justify-center bg-white text-gray-600 text-sm font-medium border"><%= approver&.profile&.full_name&.slice(0,2)%></span>
                    <% end %>
                    <span class="">
                        <%= approver&.profile&.full_name || approver.email %>
                    </span>
                </div>
            <% end %>
        </div>
    <% end %>
    <% if (@current_membership.admin? || @current_membership.approver?) && @current_membership != approval_request.requester %>
        <% if approval_request.images.attached? %>
            <div class="flex flex-col space-y-2">
                <h1>Supporting Documents</h1>
                <div class="flex flex-wrap items-center gap-2">
                    <% approval_request.images.each do |image| %>
                        <%= image_tag url_for(image), class: "border border-4 rounded-lg w-40 h-40" %>
                    <% end %>
                </div>
            </div>
        <% end %>
        <% if ar = approval_request.taken_action(current_user) %>
            <div class="flex space-x-2 items-center">
                <p>You have <%= ar.status %> the request </p>
            </div>
        <% else %>
            <div class="flex space-x-2 py-2">
                <%= render partial: "users/user_image_or_logo", locals: { user: current_user } %>
                <div class="flex items-center flex-wrap gap-2">
                    <%= form_with url: update_approval_request_organization_approval_requests_path(@organization), method: :patch, class: "flex flex-col space-y-2" do |form| %>
                        <%= hidden_field_tag :approver_id, current_user.id %>
                        <%= hidden_field_tag :id, approval_request.id %>
                        <div class="">
                            <%= form.label :comment, "Add your comment", class: "leading-4 block font-bold text-gray-700 mb-2" %>
                            <%= form.text_area :comment, class: "text-field" %>
                        </div>
                        <div class="flex space-x-2 items-center">
                        <%= form.submit "Approve", class: "btn-primary bg-green-500" %>
                        <%= form.submit "Reject", class: "btn-primary bg-red-500" %>
                    <% end %>
                </div>
            </div>
        <% end %>
    <% end %>
    <% if approval_request.requester == current_user %>
        <% if approval_request.images.attached? %>
            <div class="p-4 flex flex-col space-y-2">
                <h1>Documents</h1>
                <div class="flex flex-wrap items-center gap-2">
                    <% approval_request.images.each do |image| %>
                        <%= image_tag url_for(image), class: "border border-4 rounded-lg w-20 h-20" %>
                    <% end %>
                </div>
            </div>
        <% end %>
        <div class="w-full flex flex-col space-y-4">
            <% approval_request.approvals.each do |approval| %>
                <div class="flex flex-row space-x-2">
                    <% if approval.approver&.profile&.image.attached? %>
                        <%= image_tag url_for(approval.approver&.profile.image), class: "w-8 h-8 rounded-full" %>
                    <% else %>
                        <span class="uppercase w-8 h-8 rounded-full flex items-center justify-center border bg-gray-200"><%= approval.approver&.profile&.full_name&.slice(0,2)%></span>
                    <% end %>
                    <div class="flex-1 flex-col space-y-2">
                        <div class="flex items-center space-x-2">
                            <span><%= approval.approver&.profile.full_name %></span>
                            <span class="w-full flex-1 h-1 border-b mx-2"></span>
                            <span class="w-6 h-6 rounded-md <%= approval.status%>"></span>
                            <p class=""><%= approval.status%> your request </p>
                        </div>
                        <div class="flex items-center text-gray-500 justify-between">
                            <span><%= approval.comment %></span>
                            <span>at <%= approval.created_at.strftime("%d %B, %Y, %I:%M %p") %></span>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>