<div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="flex flex-col space-y-4 p-4 border rounded-md">
        <h1><%= @organization.name %></h1>
        <% if @organization.logo.attached? %>
            <%= image_tag url_for(@organization.logo), class: "w-24 h-24 rounded-md" %>
        <% end %>
        <%= link_to "Edit", edit_organization_path(@organization), class: "bg-blue-500 text-white px-2 py-2 rounded-md text-base self-start" %>
    </div>
    <%= form_with url: update_approval_setting_organizations_path(organization_id: @organization.id), method: :patch, class: "flex flex-col border rounded-md p-4 space-y-2" do |form| %>
        <h1>Update approval settings</h1>
        <div class>
            <%= form.label :require_approvals, class: "block" %>
            <%= form.number_field :require_approvals, value: @organization.approval_settings.first.require_approvals, class: "text-field" %>
        </div>
        <%= form.submit "Update", class: "btn-primary self-start" %>
    <% end %>
</div>