<!DOCTYPE html>
  <head>
    <%= render "layouts/head" %>
  </head>
<html>
  <body class="w-full h-screen flex">
   <%= render "layouts/sidebar" %>
    <div class="w-full h-full flex-1 flex flex-col">
        <%= render "layouts/header" %>
        <main class="flex-1 flex overflow-y-auto">
            <% if @current_membership.present? %>
                <%= render "layouts/navbar" %>
            <% end %>
            <div class="w-full h-full pverflow-y-auto flex-1 p-4">
                <%= notice %>
                <%= yield %>
            </div>
        </main>
    </div>
  </body>
</html>
